<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>유튜브 검색기</title>
  </head>
  <body>
    <div container="container">
      <h1>유튜브 검색</h1>
      <!-- 검색창 -->
      <form action="/search" method="GET">
        <!-- 제출시 /search 로 url 요청 -->
        <input type="text" name="q" placeholder="검색 키워드" />
        <button type="submit">검색</button>
      </form>

      <!-- 플레이어 -->
      {% if selectedVideo %}
      <div style="margin-top: 20px">
        <h2>{{ selectedVideo.title }}</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ selectedVideo.videoId }}" frameborder="0"> </iframe>
      </div>
      {% endif %}
      <!-- 결과 목록 -->
      <!-- <ul>
        {% for video in videos %}
        <li>
          <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}">
            <img src="{{ video.snippet.thumnails.default.url }}" />
          </a>
          <h3>{{ video.snippet.title }}</h3>
          <p>{{ video.snippet.description }}</p>
        </li>
        {% endfor %}
      </ul> -->

      <!-- 결과목록 -->
      <ul>
        {% for video in videos %}
        <li>
          <!-- <a href="https://www.youtube.com/watch?v={{ video.videoId }}"> -->
          <a href="/play?videoId={{ video.videoId }}&videos={{ videos | stringify | urlencode }}">
            <!-- url로  videos 보내는 거 -> 좋은 방법은 아님 -->
            <!-- post 로 body에 담아서 보내는 게 더 나음 -->
            <img src="{{ video.thumbnailUrl }}" />
          </a>
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
