# node 모듈 전체 제외
node_modules

# 일반적으로는 포함해야하지만, 목적상 제외
package-lock.json

# 개발하면서 생겨나는 각종 중간 산출물 제외
*.txt
*.csv

# 얘는 제외
!ascii.txt

#DB 파일 예회
*.db
*.sqlite
*.sqlite3

# credentials - 민감정보들
*.env

# 각종 로그파일 제외
*.log

*.zip
*.vscode

*.env

