<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
      #map {
        height: 600px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script>
        var seoulData = {{seoulData | safe}};  // 내가 받은거 그대로 받아라
        // console.log(seoulData);

        var map = L.map("map").setView([37.51854, 126.93751], 13);
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);

        // 서울 구별 인구 밀도별 동그라미 그리기
        for (var i = 0;i<seoulData.length;i++){
          var population = parseInt(seoulData[i].population);
          // var radius = 50 ; // 나중에 인구수에 따라서 크기 바꾸는 함수로 대체하기
          var radius = calculationMarkerRadius(population);

          var marker = L.circleMarker([seoulData[i].lat, seoulData[i].lng], {
            radius:radius,
            fillColor:"red",
            color:"blue",
            weight:1,
            fillOpacity: 0.5,

          }).addTo(map);

          // 정보 추가
          marker.bindTooltip(seoulData[i].district, {
            permanent:true,
            direction:"center",
            className:"marker-label"
          });

          marker.bindPopup("<b>" + seoulData[i].district+"</b><br>인구: "+seoulData[i].population);

        }

      // seoulData.forEach((gu)=>{
      //   var population = parseInt(gu.population);
      // })

      function calculationMarkerRadius(population){
        var minRadius = 10;
        var maxRadius = 100;

        var minPopulation = 10_000;
        var maxPopulation = 1_000_000;

        var radius = minRadius + ((population -minPopulation) /( maxPopulation - minPopulation)) * (maxRadius);

        return radius;
      }
    </script>
  </body>
</html>
