nav {
  height: 50px;
  background-color: gray;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: lightseagreen; /* 링크 색상은 부모 요소에 따라 */
}

a:hover {
  text-decoration: underline;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 2px;
}

th {
  background-color: lightblue;
}
